name: 'Build and Test QUICK Serial Version'

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build-and-test-serial-legacy-configure-make:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Install Dependencies for Serial Version'
        run: |
          sudo apt-get update
          sudo apt-get -y install gfortran parallel
      - name: 'Log Softare Environment Configuration'
        run: |
          echo "Ubuntu version:"
          cat /etc/os-release
          echo
          echo "Kernel version:"
          uname -a
          echo
          echo "Glibc version:"
          dpkg -l | grep ^ii | grep -i glibc
          echo
          echo "GCC (gfortran) version:"
          gfortran --version
      - name: 'Configure Serial Version'
        run: ./configure --serial --enablef --prefix $PWD/install gnu
      - name: 'Build and Install Serial Version Using 2 Jobs'
        run: make -j2 all install
      - name: 'Setup Environment Variables for Running Tests'
        run: |
          echo "QUICK_HOME=$PWD/install" >> "$GITHUB_ENV"
          echo "PARALLEL_TEST_COUNT=2" >> "$GITHUB_ENV"
      - name: 'Run Tests for Serial Version (Make)'
        run: make fulltest
      - name: 'Archive Test Results for Serial Version'
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: 'serial-legacy-configure-make-tests'
          path: /home/runner/work/QUICK/QUICK/install/test/runs/serial
          retention-days: 3
      - uses: actions/download-artifact@v4
        with:
          name: 'serial-legacy-configure-make-tests'
      - name: 'Display Artifacts'
        run: ls -R
  build-and-test-serial-cmake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Install Dependencies for Serial Version (CMake)'
        run: |
          sudo apt-get update
          sudo apt-get -y install gfortran cmake parallel
      - name: 'Log Softare Environment Configuration (CMake)'
        run: |
          echo "Ubuntu version:"
          cat /etc/os-release
          echo
          echo "Kernel version:"
          uname -a
          echo
          echo "Glibc version:"
          dpkg -l | grep ^ii | grep -i glibc
          echo
          echo "GCC (gfortran) version:"
          gfortran --version
          echo
          echo "CMake version:"
          cmake --version
      - name: 'Configure Serial Version (CMake)'
        run: |
          mkdir build
          cd build
          cmake .. -DCOMPILER=GNU -DENABLEF=TRUE -DCMAKE_INSTALL_PREFIX=$PWD/../install
      - name: 'Build and Install Serial Version (CMake) Using 2 Jobs'
        run: |
          cd build
          cmake --build . --parallel 2
          cmake --install .
      - name: 'Setup Environment Variables for Running Tests'
        run: |
          echo "QUICK_HOME=$PWD/install" >> "$GITHUB_ENV"
          echo "PARALLEL_TEST_COUNT=2" >> "$GITHUB_ENV"
      - name: 'Run Tests for Serial Version'
        run: |
          cd install
          ./runtest --serial --full
      - name: 'Archive Test Results for Serial Version (CMake)'
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: 'serial-cmake-tests'
          path: /home/runner/work/QUICK/QUICK/install/test/runs/serial
          retention-days: 3
