name: MPI Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Install deps
        run: sudo apt-get install -y gfortran openmpi-bin
      - name: Configure mpi
        run: ./configure --mpi --prefix $PWD/install gnu
      - name: Build mpi
        run: make
      - name: Install mpi
        run: make install
      - name: Set MPI command
        run: echo "DO_PARALLEL=mpirun -np 2" >> $GITHUB_ENV
      - name: Set QUICK_HOME
        run: echo "QUICK_HOME=$PWD/install" >> $GITHUB_ENV
      - name: Test mpi
        run: make test
      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
            name: mpi-tests
            path: /home/runner/work/QUICK/QUICK/install/test/runs/mpi

